<div class="container">
    <div class="raw mt-5">
        <div class="col-md-6 m-auto ">
            <div class="card card-body text-center">
                <form class="form-signin" action="/products/edit/<%= products._id %>" method="POST">
                    <img class="mb-4" src="/images/a.png" alt="" width="100" height="100">
                    <h1 class="h3 mb-8 font-weight-normal">Edit product</h1>

                    <%#- include('../partials/messages')%>


                    <div class="form-group col-md-12">

                        <input type="text" name="name" class="form-control" placeholder="Name"
                            value="<%= typeof name != 'undefined' ? name : products.name %>">
                    </div>
                    <div class="form-group col-md-12">

                        <textarea type="text" name="description" class="form-control" placeholder="Description"
                            value="<%= typeof description != 'undefined' ? description : products.description %>"><%=  products.description %></textarea>
                    </div>
                    <div class="form-group col-md-12">

                        <input type="price" name="price" class="form-control" id="price" placeholder="Price"
                            value="<%= typeof price != 'undefined' ? price : products.price %>">
                    </div>
                    <div class="form-group col-md-12">

                        <input type="text" name="manufacrure" class="form-control" placeholder="manufacture "
                            value="<%= typeof manufacture != 'undefined' ? manufacture : products.manufacture %>">
                    </div>
                    <div class="form-group col-md-12">

                        <input type="text" name="category" class="form-control" placeholder="category "
                            value="<%= typeof category != 'undefined' ? category : products.category %>">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" name="image" class="form-control" id="image" placeholder="Image"
                            value="<%= typeof image != 'undefined' ? image : products.image %>">
                    </div>

                    <br>
                    <div class="form-group col-md-12">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Add product</button>
                    </div>


                </form>
            </div>
        </div>
    </div>

</div>