
<%- include ('../layouts/header') %>
<div class="container">
    <h2 class="mb-2"><%= products.name %></h2>
    
    <h6 class="text-muted mb-2"><%= products.date.toLocaleString() %></h6>

    <a href="/products" class="btn btn-primary">All products</a>
    <a href="/products/edit/<%= products.id%>" class="btn btn-info">Edit product</a>
</div>
<%- include ('../layouts/footer') %>